.main-area {
    padding: 0;
}
/* RWD */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content:center;
}
.col{
    width: 100%;
    padding: 0 ;
}
.col_md_3{
    width: 20%;
    flex-direction: row;
    align-items:flex-start;
    margin-right: 20px;
}
.col_md_6{
    width: 40%;
    flex-direction: row;
    margin: 2%;
}
.col_md_11{  
    width: 100%;
    height: 90vh;
    position: absolute;   
}
/* 公告 */
.camera{
    margin-top: 170px;
    background-color:#99D3D0;
    position: absolute;
}
#banner_point{
    list-style-type: none;
    margin-top: 1020px;
    margin-left: 45vw;
}
.point{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 999em;
    background-color: #C4C4C4;
    cursor:pointer;
}
.active{
    background-color:#8B8989;
}
/* 商品 */
.Product{
    position: absolute;
    width: 120px;
    height: 56px;
    color: #99D3D0;
    font-size: 60px;
    line-height: 56px;
}
.MORE{
    text-decoration: none;
    height: 28px;
    margin-top: 100px;
    margin-left: 90vw;
    color: #99D3D0;
    line-height: 28px;
    font-size: 24px;
}
.ic_MORE{
    position: absolute;
    object-fit: contain;
    height:26px;
    width:26px;
    margin-top: 2px;
    margin-left: 5px;
}

/* header */
header{
    top:0;
    display: block;
    width: 100%;
    position: absolute;
    height: 170px;
    background: #99D3D0;
    margin: auto
}
.font-style{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.LOGO{
    position: absolute;
    object-fit: contain;
    width: 80px;
    height: 80px;
}
.LOGO_header{
    margin-top:17px;
    margin-left: 45vw;
}
.header-icon{
    object-fit: contain;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}
.ic_login{
    margin-top: 2px;
    margin-right: 110px;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-list{
    display: flex;
    list-style-type: none;
    text-align:center;
}
.nav-list-item{
    display: inline-block;
    width: calc(100%/6);
    margin-top: 100px;
    margin-left: 5vw;
}
.nav-list-item-btn{
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    width: 160px;
    height: 45px;
    font-size: 24px;
    line-height: 45px;
}
.nav-list-item-btn:hover{
    color: #99D3D0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.nav-sublist{
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 9px;
    background-color:rgba(255, 255, 255, 1) ;
}
.nav-sublist-item{
    position: relative;
    z-index:100;
    display: block;
    border: 1px solid  #99D3D0;
    background-color:rgba(255, 255, 255, 1)
}
.nav-list-item-link{
    position: relative;
    z-index:100;
    color:  #99D3D0;
    text-decoration: none;
    display: block;
    width: 160px;
    height: 50px;
    font-size: 18px;
    line-height: 45px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}
/* Product */
.product_name{
    text-align:center;
    padding: 30px;
    width: 100%;
}
.product_link{
    text-decoration:none;
    width: 144px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    color: #99D3D0;
}
.product_link:hover{
    color: #B28E6A;
}
.product_pic{
    display: block;
    width: 100%;
    height: 600px;
    background-size:100% 100%;
    background-repeat:no-repeat ;
}
.product_pic:hover{
    background-size:101% 101%;
}
.product_pic1{ 
    background-image:url(../img/page1/Series1.jpg) ;
}
.product_pic2{
    background-image:url(../img/page1/Series2.jpg) ;
}
.product_pic3{
    background-image:url(../img/page1/Series3.jpg) ;
}
.product_pic4{
    background-image:url(../img/page1/Series4.jpg) ;
}
/* Footer */
footer{
    width: 100%;
    height: 277px;
    background: #99D3D0;
}
.LOGO_footer{
    margin-top: 87px;
}
.ic_footer{
    position: absolute;
    object-fit: contain;
    height: 25px;
    width: 25px;
}
.ic_fb{
    margin-top: 214px;
    margin-left: -15px;
}
.ic_line{
    margin-top: 214px;
    margin-left: 30px;
}
.ic_ig{
    margin-top: 214px;
    margin-left: 75px;
}
/* ROW_fonts */
.footer_title{
    font-size: 24px;
    color: #B28E6A;
}
.footer_words{
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #FFFDFD;
}
.about_us p{
    margin-left: 30px;
}
/* Burger */
.nav_menu{
    color: white;
    border: 2px solid white;
    display: none;
    font-size: 24px;
    position: absolute;
    padding: 0 5px;
    border-radius: 4px;
    top: 120px;
    left: 10px;
}
.show_menu{
    display: block;
}
@media (max-width: 1024px) {
    .col_md_11{  
        height: 60vh;
    }
    #banner_point{
        margin-top: 750px;
        margin-left: 37vw;
    }
    .MORE{
        margin-left: 80vw;
        font-size: 24px;
    }
    .product_pic{
        height: 300px;
    }
    .product_name{
        padding: 0px;
        margin-top: 10px;
    }
    .product_link{
        font-size: 22px;
    }
    .footer_title{
        font-size: 22px;
    }
    .footer_words{
        font-size: 16px;
    }
    .col_md_3{
        width: 20%;
        margin-left: 10px;
    }
}
@media (max-width: 720px) {
    .nav_menu{
        display:block;
    }
    .nav_menu:hover{
        display:block;
    }
    .nav{
        display: none;
    }
    .col_md_11{  
        height: 40vh;
    }
    #banner_point{
        margin-top: 550px;
        margin-left: 37vw;
    }
    .MORE{
        margin-left: 70vw;
        font-size: 22px;
    }
    .col_md_6{
        width: 100%;
        margin:6%;
    }
    .product_pic{
        height: 400px;
    }
    .product_name{
        padding: 0px;
        margin-top: 10px;
    }
    .product_link{
        font-size: 22px;
    }
    .footer_title{
        font-size: 22px;
    }
    .footer_words{
        font-size: 16px;
    }
    .col_md_3{
        margin-top: 70px;
        width: 100%;
        margin-left: 20px;
    }
    .nav-list-item-btn{
        width: 100px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
    .nav-list-item-link{
        width: 100px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    .Product{
        font-size: 36px;
        margin-left: 15vw;
    }
    footer{
        height: 800px;
    }
    .LOGO_footer{
        margin-top: -10px;
        margin-left: 150px;
    }
    .ic_fb{
        margin-top: 14px;
        margin-left: 300px;
    }
    .ic_line{
        margin-top: 14px;
        margin-left: 350px;
    }
    .ic_ig{
        margin-top: 14px;
        margin-left: 400px;
    }
}